{{!-- profile header --}}
<div class="container row">

  <div class="col-md-12">
    <div class="card mt-1">

      <div class="d-flex">
        {{!-- avatar --}}
        <img class="m-4" src="{{user.image}}" style="width: 320px; height: 320px; border-radius:50%">
        {{!-- description --}}
        <div class="mt-4 ml-2">
          <h2>{{user.name}}</h2>
          <p>{{user.email}}</p>
          <p style="line-height: 10px">已評論<b>{{#count user.Comments}}{{/count}}</b> 則餐廳</p>
          <p style="line-height: 10px">已收藏<b>{{#count user.FavoritedRestaurants}}{{/count}}</b> 間餐廳</p>
          <p style="line-height: 10px">累計<b>{{#count user.Followings}}{{/count}}</b> 位followings (正在追蹤誰)</p>
          <p style="line-height: 10px">累計<b>{{#count user.Followers}}{{/count}}</b> 位followers (已被誰追蹤
            )</p>
          {{!-- 透過hbs.helper去判斷是否為當下使用者id，如果不是將不會寫是edit --}}
          {{!-- 避免透過網址修改id，任意修改他人的profile --}}
          {{#ifCond user.id loginUser.id}}
          <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
          {{/ifCond}}
        </div>
      </div>
    </div>
  </div>

  {{!-- 正在追蹤誰 description --}}
  <div class="col-md-4">
    <div class="card mt-3">
      <div class="card-header"><b>{{#count user.Followings}}{{/count}}</b>
        位followings (正在追蹤誰)
      </div>
      <div class="card-body">
        {{#each user.Followings}}
        <a href="/users/{{this.id}}">
          <img class="mx-2" src="{{this.image}}" style="width: 70px; height: 70px">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  {{!-- 已評論過不重複的餐廳 --}}
  <div class="col-md-8">
    <div class="card mt-3">
      <div class="card-header"><b>{{#count user.Comments}}{{/count}}</b>
        家已評論餐廳
      </div>
      <div class="card-body">
        {{#each user.Comments}}
        <a href="/restaurants/{{this.Restaurant.id}}">
          <img class="mx-2" src="{{this.Restaurant.image}}" style="width: 70px; height: 70px">
        </a>
        {{/each}}
      </div>
    </div>
  </div>

  {{!-- 已被誰追蹤 --}}
  <div class="col-md-4">
    <div class="card mt-3">
      <div class="card-header"><b>{{#count user.Followers}}{{/count}}</b>
        位followers (已被誰追蹤)
      </div>
      <div class="card-body">
        {{#each user.Followers}}
        <a href="/users/{{this.id}}">
          <img class="mx-2" src="{{this.image}}" style="width: 70px; height: 70px">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  {{!-- 已經加到最愛 --}}
  <div class="col-md-8">
    <div class="card mt-3">
      <div class="card-header"><b>{{#count user.FavoritedRestaurants}}{{/count}}</b>
        間最愛的餐廳
      </div>
      <div class="card-body">
        {{#each user.FavoritedRestaurants}}
        <a href="/restaurants/{{this.id}}">
          <img class="mx-2" src="{{this.image}}" style="width: 70px; height: 70px">
        </a>
        {{/each}}
      </div>
    </div>
  </div>

</div>